*{
    margin: 0;
    padding: 0;
  }
html{
    height: 80%;
}
body{
    height: 100%;
}
header{
  display: flex;
  width: 80%;
  height: 90px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

}
header img{

  height: 90px;
}
.search,header img{
  vertical-align: middle;
}
.search{

  display: inline-block;
  width: 422px;
  height: 35px;
  margin-left: 200px;
  background-color: #c6a58a;
  position: relative;
}
/* .search span::after{
  content: "楂樼骇鎼滅礌";
  position: absolute;
  width: 80px;
  height: 20px;
  top: 20px;

} */
.search a{
  font-size: 14px;
  position: absolute;
  width: 80px;
  height: 20px;
  top: 40px;
  right: -5px;
}
.search a:hover{
  color: red;
}
.search span{
  display: inline-block;
  width: 80px;
  height: 100%;
  line-height: 35px;
  text-align: center;
  cursor:pointer;   

}
.searchtext{
  width: 78%;
  height: 95%;
  font-size: 14px;
  font-family: "Microsoft Yahei",simsun;
  background-color: none;
  outline-style: none ; 
  border: 1px solid #c6a58a;
}

#adminBtn{

  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 60px;
  background-color: #eccaae;
  margin-left: 250px;
  text-decoration: none;
  color: #000;

}
.adminBtn{

  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 60px;
  background-color: #eccaae;
  margin-left: 250px;
  text-decoration: none;
  color: #000;

}

/* 瀵艰埅 */
.navf{
  position: fixed;
  top: 0;
}
nav{

  width: 100%;
  height: 42px;
  border-bottom: 2px solid #c6a58a;
  background-color: white;

}
nav ul{
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  justify-content: flex-end;
  position: relative;
 
  

}
.xz{
  background-color: #c6a58a;
}

nav ul li{
  
  display: inline-block;
  list-style: none;
  text-align: center;
  line-height: 52px;
  width: 80px;
  height: 100%;
}
nav ul li a{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgb(75, 75, 75);
}

nav ul li a:hover{
  background-color: #c6a58a;
  font-size: 18px;
}


nav ul li:nth-of-type(1){
  width: 200px;
  position: absolute;
  left: 0px;
  background-color: #c6a58a;
  
}
#mine img{
  width: 15px;
}
nav ul li:nth-of-type(2){
  margin-left: 100px;
}
#box{
  width: 100%;
  height: 100%;
}

iframe{
  display: none;
    width: 100%;
    height: 1500px;
}

/* 鍐呭 */
#box{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
/* 鍒嗙被 */
#fl,#shu{
  vertical-align: text-top;
}

.flf{
  position: fixed;
  top:44px;
}
#fl{
  display: inline-block;
  width: 200px;
  height: 570px;
  /* position: fixed; */

  background-color: #f1d6bf;
}
#fl li{
  height: 20px;
  background-color: #f1d6bf;
  list-style: none;

  padding: 4px 0;
}
#fl li:hover{
  background-color: #f3e8de;
}
#fl li a{
  display: inline-block;
  margin-left: 40px;
  width: 100%;
  height: 20px;
  margin: 5px 0;
  line-height: 10px;
}
.shu{
  margin-left: 205px;
}
#box #shu{
  display: inline-block;
  width: 80%;
 

}
/* #box #shu{
  display: flex;
  font-size: 16px;
  color: #6d6d6d;
  margin: 10px 10px;
  padding: 20px 10px;
 
} */
#box #shu a{
  width: 280px;
  /* display: flex; */
  display: inline-block;
  font-size: 16px;
  color: #6d6d6d;

  padding: 20px 10px;
  

}

#box #shu a img,.content{
vertical-align: middle;

}
.content {
  display: inline-block;
  width: 170px;
}
.content span{
  font-size: 14px;
}
.content h3{
  margin-top: 0;
}
.p{
  display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
}
h3{
margin: 0;
font-size: 16px;
}
a{
  text-decoration: none;
  font-size: 16px;
  color: #6d6d6d;
}

#shu a img{

  height: 100px; 
  transition: 0.5s;
}
#box #shu a img:hover{
  /*鏀惧ぇ1.3鍊�*/
  transform: scale(1.2);
}


#up{
  display:none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 60px;
  right: 30px;
}
#up img{
  width: 50px;
  height: 50px;
}
#login-header{
  text-align: center;
  height: 30px;
  line-height: 30px;
}
#login-header a{
  font-size: 24px;
  text-decoration: none;
  color: black;
}

/* 鐧婚檰妗嗕富浣� */
.login{
  position: fixed;
  width: 512px;
  height: 294px;
  z-index: 9999;
  display: none;
  background-color: #f5e2d0;
  border-radius: 10px;
  /* 杩欓噷瑕佹敞鎰忕粷瀵瑰畾浣嶇殑鐩掑瓙鎬庝箞鍦ㄥ睆骞曟樉绀哄眳涓� */
  left: 50%;
  margin-left: -256px;
  /* margin-top: 142px; */
  /* border: 1px solid gray; */
}
/* 鐧婚檰妗嗘爣棰� */
.login-title{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 10px;
  /* cursor: move; */
}
.login-title span a{
  text-decoration: none;
  border: 1px solid gray;
  font-size: 12px;
  color: black;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: -20px;
  right: -20px;
}

/* 鐧婚檰琛ㄥ崟 */
.login-input{
  display: inline-block;
  width: 430px;
  margin: 20px auto;
  margin-left: 40px;
}
.login-input label{

  height: 35px;
  line-height: 35px;
  width: 90px;
  padding-left: 10px;
  text-align: right;
  font-size: 14px;
}
.login-input input.list-input{
  height: 35px;
  line-height: 35px;
  width: 350px;
  text-indent: 5px;
}
/* 鐧婚檰妗嗙櫥闄嗘寜閽� */
.loginSubmit{
  width: 260px;
  height: 40px;
  text-align: center;
  border: none;
  background-color: #e2b58b;
  margin-left: 120px;
  margin-top: 15px;
  border-radius: 20px;
  
}

/* 閬洊灞� */
.bg{

  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  opacity: 0.3;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  display: none;
}
#closeBtn{
  display: inline-block;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  /* background-color: #ecad71; */
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 20px;


}

#zhuce{
  display: inline-block;
  text-align: center;
  line-height: 20px;
  width: 40px;
  height: 20px;
  font-size: 16px;
  /* background-color: #ecad71; */
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 20px;

}
